.App {
  font-family: sans-serif;
  text-align: center;
}
.grid {
  display: grid;
  gap: 30px;
}
.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.card {
  padding: 25px 30px;
  border: 3px solid #9a9a9a;
  text-align: left;
}
.card h2 {
  color: #3e1181;
}
.btn {
  background-color: rgb(243, 177, 54);
  border: 0;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 4px;
  font-size: 20px;
  padding: 18px 30px;
  margin-top: 40px;
}
